section {
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
}

@media only screen and (max-width: 640px) {
  section {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-background-position: left;
    -moz-background-position: left;
    -o-background-position: left;
    background-position: left;

    -webkit-background-attachment: scroll;
    -moz-background-attachment: scroll;
    -o-background-attachment: scroll;
    background-attachment: scroll;
  }
}
